# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: check-executables-have-shebangs
    -   id: check-toml
    -   id: check-yaml
    -   id: end-of-file-fixer
        types: [python]
    -   id: trailing-whitespace
        exclude: 'primes/'
    -   id: requirements-txt-fixer

-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    -   id: black
        language_version: python3.10

-   repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
    -   id: auto-walrus

-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.4.8
    hooks:
    -   id: ruff
        args: [ --fix ]
    -   id: ruff-format

-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    -   id: codespell
        exclude: 'primes/'

-   repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.18
    hooks:
    -   id: validate-pyproject
